# Api config enviroments
API_TITLE=jsm-link-builder
API_PORT=8080
API_HOST=localhost
API_LOG_LEVEL=info

# Users data enviroments
USERS_ORIGINS=https://storage.googleapis.com/juntossomosmais-code-challenge/input-backend.csv, https://storage.googleapis.com/juntossomosmais-code-challenge/input-backend.json



